.header_wrapper{
   text-align: center;
   padding: 20px;
   background: #fff;
}
.header_wrapper h5{
    font-size:18px;
}
.header_wrapper span{
    font-size: 16px;
    line-height: 20px;
    color: #737387;
}