.top_card{
    margin: 0px 7px;
}
.ant-card-body{
    padding: 5px 0px !important;
    text-align:center;
}
.ant-card{
    padding: 10px 0px !important;
    margin: 5px !important;
    height: max-content;
}
.ant-card-meta-title{
    font-size: 14px !important;
}