body{
  margin: 0;
}
.list_style{
  margin: 12px 10px 0px 0px!important; 
  border: 1px solid #ecedf0 !important; 
  text-transform: capitalize;
  border-radius: 4px;
  padding: 10px 20px !important;
  display: flex !important;
  font-size: 16px;
}
.list_style:hover{
  border: 1px solid #54b2d3 !important;
  color: #54b2d3;
  cursor: pointer;
}
.list_style span{
  color:#54b2d3;
  font-weight: bold;
}
.active{
  border: 1px solid#54b2d3 !important;
  color: #54b2d3 !important;
  font-weight: 500;
}
.box_list .ant-list-items{
  display: flex;
}
.box_list .list_style{
  width: 50%;
  display: block !important;
  text-align: center;
  white-space: nowrap;
}
.box_list .max_width{
  width: 100%;
}
.box_list .list_style span{
  margin-right: 5px;
}
.info{
  margin-top: 20px;
  margin-right: 0px !important;
}